.counter-container {
  background-color: rgba(233, 255, 235, 0.66);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
  width: 50%;
  display: inline-block;
  margin-left: 22%;
}

.counter-display {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.counter-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(238, 88, 88);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.counter-button:hover {
  background-color: #0056b3;
}

.button-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
